button,
.button {
	@apply text-sans-16 font-sans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-weight: 400;
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	appearance: none;
	color: inherit;

	&:disabled,
	&.disabled {
		cursor: not-allowed;
		opacity: 0.5;

		&.loading {
			cursor: wait !important;

			* {
				cursor: wait !important;
			}
		}
	}

	&.loading {
		cursor: wait !important;

		* {
			cursor: wait !important;
		}
	}

	/*
	// === Reset Overrides ===
	*/

	&.mx-a {
		margin-left: auto;
		margin-right: auto;
	}

	&.block {
		display: block;
	}

	&.border-r-0 {
		border-radius: 0;
	}

	&.text-left {
		text-align: left;
	}
}
