.link--underline {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 1px;
	text-decoration-color: currentColor;
	transition: text-decoration-color 200ms
		theme('transitionTimingFunction.in-out-quint');

	&:hover {
		text-decoration-color: transparent;
	}
}

.link--underline--hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 1px;
	text-decoration-color: transparent;
	transition: text-decoration-color 200ms
		theme('transitionTimingFunction.in-out-quint');

	&.active,
	&:hover {
		text-decoration-color: currentColor;
	}
}

.link--opacity {
	opacity: 0.5;
	transition: opacity 200ms theme('transitionTimingFunction.in-out-quint');

	&.active,
	&:hover {
		opacity: 1;
	}
}

.link--opacity--hover {
	transition: opacity 200ms theme('transitionTimingFunction.in-out-quint');

	&.active,
	&:hover {
		opacity: 0.5;
	}
}

.link--cover {
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.link--arrow--inline {
	&:after {
		content: url('data:image/svg+xml; utf8, <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.17157 7.53544L12.3536 4.35346C12.5488 4.15819 12.5488 3.84161 12.3536 3.64635L9.17157 0.464369C8.97631 0.269107 8.65973 0.269107 8.46447 0.464369C8.2692 0.659632 8.2692 0.976214 8.46447 1.17148L10.7929 3.4999L-3.08729e-07 3.4999L-2.34906e-07 4.4999L10.7929 4.4999L8.46447 6.82833C8.2692 7.02359 8.2692 7.34018 8.46447 7.53544C8.65973 7.7307 8.97631 7.7307 9.17157 7.53544Z" fill="currentColor"/></svg>');
		display: inline-block;
		margin-left: 10px;
		transition: transform 300ms
			theme('transitionTimingFunction.in-out-quint');
	}

	&:hover {
		&:after {
			transform: translateX(5px);
		}
	}
}

.link--arrow--out {
	.link__icon {
		transition: transform 300ms
			theme('transitionTimingFunction.in-out-quint');
	}

	&:hover {
		.link__icon {
			transform: translate(5px, -5px);
		}
	}
}
