//
// === Rich Text ===
//

.rich-text {
	a {
		text-decoration: underline;
		text-decoration-thickness: 1px;
		text-underline-offset: 1px;
		text-decoration-color: transparent;

		&:hover {
			text-decoration-color: currentColor;
		}
	}

	b,
	strong {
		font-weight: 600;
	}

	em,
	i {
		font-style: italic;
	}

	ul li {
		position: relative;
		padding-left: 15px;

		&:before {
			content: '·';
			display: inline;
			position: absolute;
			left: 0;
		}
	}

	ul li ul li:before {
		content: '◦';
	}

	ul li ul li ul li:before {
		content: '‣';
	}

	ol {
		counter-reset: section;

		li {
			position: relative;
			padding-left: 20px;

			&:before {
				counter-increment: section;
				content: counters(section, '.') '.';
				display: inline;
				position: absolute;
				left: 0;
			}
		}
	}

	ol li ol li:before {
		content: counter(section, lower-alpha) '.';
	}

	ol li ol li ol li:before {
		content: counter(section, lower-roman) '.';
	}
}
