/*
// === Goudy Old Style ===
*/

/*@font-face {
	font-family: 'Goudy Old Style';
	src: url('/fonts/goudy-old-style.woff2') format('woff2'),
		url('/fonts/goudy-old-style.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
