/*
// === Reset ===
*/

html,
body {
	@include font-smoothing;
	@apply font-sans text-sans-16 font-400;

	@screen md {
		@apply text-sans-24;
	}
}

//
// === Focus ===
//

a,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:focus {
		outline: none;
	}
}

a,
button {
	&:focus-visible {
		outline: 1px dotted;
	}
}

//
// === Selection ===
//

* {
	@include selection {
		background-color: theme('colors.black');
		color: theme('colors.white');
	}
}

.no-focus:focus {
	outline: none;
}

/*
// === Utilities ===
*/

.line-break {
	ol,
	ul,
	p {
		margin-bottom: theme('lineHeight.sans-16');

		&:last-child {
			margin-bottom: 0;
		}

		ol,
		ul {
			margin-bottom: 0;
		}
	}

	@screen md {
		ol,
		ul,
		p {
			margin-bottom: theme('lineHeight.sans-24');

			&:last-child {
				margin-bottom: 0;
			}

			ol,
			ul {
				margin-bottom: 0;
			}
		}
	}
}
