{% form 'storefront_password' %}
	{{ form.errors | default_errors }}
	<input type="password" name="password" id="Password" placeholder="Password" />
	<button type="submit" name="commit">Submit</button>
{% endform %}
