<!DOCTYPE html>
<html>
<head>
	{% include 'head-meta-tags' %}
	{% include 'social-meta-tags' %}
	{% include 'fonts' %}
	{% include 'style-tags', layout: 'theme' %}
	{{ content_for_header }}
</head>

<body>
	{{ content_for_layout }}

	{% form 'storefront_password' %}
		{% if form.errors %}
			{{ form.errors | default_errors }}
		{% endif %}
		<input
			type="password"
			name="password"
		/> 
		<button type="submit" name="commit">
			Log In To Store
		</button>
	{% endform %}

	{% include 'hydrate' %}
	{% include 'script-tags', layout: 'theme' %}
</body>
</html>




